<div id='contact_container'>
  <div class='row-fluid'>
    <div class='span10'>
      <header>
        <h1>
          Get in touch with us.
        </h1>
      </header>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span10'>
      <h3>
        <span>
          General enquiries :
        </span>
        info@magpiebox.com
        <br>
        <span>
          Business enquiries :
        </span>
        management@magpiebox.com
        <br>
        <span>
          Telephone :
        </span>
        01789 415232
        <br>
        <br>
      </h3>
    </div>
    <div class='span10'>
      <p>
        Alternatively you can use the form below to send us a message directly.
      </p>
    </div>
  </div>
  <form id="Contact_us" role="form" action="/main/contact" class="form-horizontal">
  <div class='row-fluid form-row'>
    <div class='span10'>
      <div class='control-group'>
        <div class='row-fluid'>
          <div class='left-frame'>
            <label class='control-label' for='email_address'>
              Email:
            </label>
          </div>
          <div class='right-frame'>
            <div class='controls'>
              <div id='email_address_container'>
                <input id='email_address' name='email_address' placeholder='Email' type='text'>
                <div id='contact_email_symbol_container'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row-fluid form-row'>
    <div class='span10'>
      <div class='control-group'>
        <div class='row-fluid'>
          <div class='left-frame'>
            <label class='control-label' for='full_name'>
              Name:
            </label>
          </div>
          <div class='right-frame'>
            <div class='controls'>
              <div id='full_name_container'>
                <input id='full_name' name='full_name' placeholder='Name' type='text'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row-fluid form-row'>
    <div class='span10'>
      <div class='control-group'>
        <div class='row-fluid'>
          <div class='left-frame'>
            <label class='control-label' for='message_subject'>
              Subject:
            </label>
          </div>
          <div class='right-frame'>
            <div class='controls'>
              <div id='message_subject_container'>
                <input id='message_subject' name='message_subject' placeholder='Subject' type='text'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row-fluid form-row'>
    <div class='span10'>
      <div class='control-group'>
        <div class='row-fluid'>
          <div class='left-frame'>
            <label class='control-label' for='message_body'>
              Message:
            </label>
          </div>
          <div class='right-frame'>
            <div class='controls'>
              <div id='message_body_container'>
                <textarea id='message_body' name='message_body' placeholder='Message' rows='5'></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row-fluid form-row'>
    <div class='span10'>
      <div id='submit_contact_us_container'>
        <div id='submit_contact_us_button'>
          <button class='btn btn-primary'>
            Send&nbsp;
            <span class='glyphicon glyphicon-envelope'></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class='row-fluid form-row'>
    <div class='span10'>
      <div class='alert alert-success'>
        <em>
          Success!
        </em>
        Thank you for your message, I'll be in contact soon.
      </div>
      <div class='alert alert-danger'>
        <em>
          Error!
        </em>
        The message could not be sent. You can try contacting us at management@magpiebox.co.uk instead.
      </div>
    </div>
  </div>
</div>
