#find_us_container
	.row-fluid
		%header
			%h1
				%span{:class => "glyphicon glyphicon-map-marker"}
				You will find us in the heart of Stratford-upon-Avon.
	.row-fluid
		.span2
			.row-fluid
				%p
					We are open 363 days a year. Please drop by and have a look at our shop!
				%p
					Our opening hours are:
					%br
					%br
					%span
						Monday
					:plain
						: 9:30am - 5:30pm
					%br
					%span
						Tuesday
					:plain
						: 9:30am - 5:30pm
					%br
					%span
						Wednesday
					:plain
						: 9:30am - 5:30pm
					%br
					%span
						Thursday
					:plain
						: 9:30am - 5:30pm
					%br
					%span
						Friday
					:plain
						: 9:30am - 5:30pm
					%br
					%span
						Saturday
					:plain
						: 9:30am - 5:30pm
					%br
					%span
						Sunday
					:plain
						: 10:30am - 4:30pm
				%p
					We can be found at:
					%br
					%br
					7 Henley Street,
					%br
					Stratford-upon-Avon,
					%br
					Warwickshire,
					%br
					United Kingdom,
					%br
					CV37 6QP
		.span8
			.row-fluid
				#google_map_container
					:plain
						<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=7+Henley+St+Stratford-upon-Avon,+Warwickshire+CV37+6QP&amp;aq=&amp;sll=52.193349,-1.706875&amp;sspn=0.000932,0.002642&amp;ie=UTF8&amp;hq=&amp;hnear=7+Henley+St,+Stratford-upon-Avon+CV37+6QP,+United+Kingdom&amp;ll=52.193334,-1.707136&amp;spn=0.001865,0.005284&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7+Henley+St+Stratford-upon-Avon,+Warwickshire+CV37+6QP&amp;aq=&amp;sll=52.193349,-1.706875&amp;sspn=0.000932,0.002642&amp;ie=UTF8&amp;hq=&amp;hnear=7+Henley+St,+Stratford-upon-Avon+CV37+6QP,+United+Kingdom&amp;ll=52.193334,-1.707136&amp;spn=0.001865,0.005284&amp;t=m&amp;z=14" style="color:#111111;text-align:left">View Larger Map</a></small>