#home_container
	.row-fluid
		%header
			%h1
				Welcome to Magpiebox.
	.row-fluid
		#intro_container
			.row-fluid
				%p
					Magpiebox is a new gift shop located in the heard of Startford-upon-Avon. We work hard to find new and exciting stock
					that we have never seen before.
				%p{:id => "gift_list"}
					%span{:class=>"glyphicon glyphicon-star"}
					&nbspGifts
					%span{:class=>"glyphicon glyphicon-star", :style=>"margin-left:53px;"}
					&nbspCandles
					%span{:class=>"glyphicon glyphicon-star", :style=>"margin-left:53px;"}
					&nbspWatches
					%br
					%span{:class=>"glyphicon glyphicon-star"}
					&nbspSoap
					%span{:class=>"glyphicon glyphicon-star", :style=>"margin-left:55px;"}
					&nbspSatchels
					%span{:class=>"glyphicon glyphicon-star", :style=>"margin-left:50px;"}
					&nbspKitchenware
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut rhoncus lacus, sit amet venenatis arcu. Duis vulputate bibendum neque, nec ullamcorper est varius at. Suspendisse potenti. In venenatis in nulla at sodales. Donec adipiscing fringilla ante nec scelerisque. Nullam vel tellus eget sapien consectetur suscipit. 
					%br
					%br
		#main_image_container
			%img{:src => "/img/shop_front_1.jpg", :style=>"position:relative"}