#meet_the_team_container
	.row-fluid
		.span10
			%header
				%h1
					Meet the team
	.row-fluid
		.span10
			%img{:src => "/img/meet_the_team.jpg",
				:id => "meet_the_team"}
	.row-fluid
		.span10
			%p
				Lorem ipsum Lorem ispum Lorem ipsum