#find_us_container
	.row-fluid
		.span6
			.row-fluid
				%header
					%h1
						You can find us in Stratford-Upon-Avon!

			.row-fluid
				%p
					Phasellus quis leo id lectus molestie volutpat. Vivamus iaculis pellentesque gravida. Nullam facilisis orci dui, sit amet ultrices massa auctor ac. Morbi ullamcorper ipsum nec tellus laoreet blandit. Pellentesque sit amet neque non orci fermentum vestibulum. Quisque fringilla metus in felis tincidunt, et lobortis elit ultricies. Morbi sem nulla, sollicitudin a tincidunt ac, feugiat ac orci. Nunc pulvinar eu nunc vehicula malesuada. Curabitur adipiscing risus eu massa ornare convallis. Donec consequat dolor est, et facilisis arcu commodo ac. Integer sed blandit urna, eget suscipit augue. Etiam quis felis et metus venenatis congue. Phasellus molestie leo sapien, vel tempor nunc lobortis sit amet. Integer aliquet adipiscing suscipit.
				%p
					Cras sit amet iaculis odio. Curabitur sit amet rhoncus mi, sed egestas diam. Sed eu sapien nibh. Suspendisse laoreet consectetur magna sit amet consequat. Vivamus quis ligula at turpis viverra suscipit quis vitae mauris. Nulla adipiscing vitae nulla et iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ultricies nec ante vel ornare. Suspendisse velit tellus, vulputate et dui nec, eleifend porta turpis. Donec tempor facilisis eros pharetra adipiscing. Maecenas volutpat faucibus nulla, et facilisis urna congue sit amet. In hac habitasse platea dictumst. Praesent tempor tempus orci vel vestibulum. In massa nisl, posuere id ornare sed, ultricies ac nulla.
			.row-fluid
				#google_map_container
					:plain
						<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Henley+Street,+Stratford-upon-Avon,+United+Kingdom&amp;aq=1&amp;oq=henley+street+&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;ie=UTF8&amp;hq=Henley+Street,&amp;hnear=Stratford-upon-Avon,+Warwickshire,+United+Kingdom&amp;t=m&amp;fll=52.193933,-1.707215&amp;fspn=0.001786,0.005284&amp;st=107658235038825379151&amp;rq=1&amp;ev=zi&amp;split=1&amp;ll=52.193124,-1.708189&amp;spn=0.001786,0.005284&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Henley+Street,+Stratford-upon-Avon,+United+Kingdom&amp;aq=1&amp;oq=henley+street+&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;ie=UTF8&amp;hq=Henley+Street,&amp;hnear=Stratford-upon-Avon,+Warwickshire,+United+Kingdom&amp;t=m&amp;fll=52.193933,-1.707215&amp;fspn=0.001786,0.005284&amp;st=107658235038825379151&amp;rq=1&amp;ev=zi&amp;split=1&amp;ll=52.193124,-1.708189&amp;spn=0.001786,0.005284" style="color:#333333;text-align:left">View Larger Map</a></small>
		.span4
			.row-fluid
				#find_us_block1
			.row-fluid
				#find_us_block2