.container-fluid
	.row-fluid
		.ad-block-1.span4
			%img{:src => "/img/stratford-upon-avon.jpg", :style=>"position:relative;margin-top:-110px"}
		.ad-block-2.span4			
	.row-fluid
		.ad-block-3.span4					
		.ad-block-4.span4
						